.img1 {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.date {
    color: $date-color;
    font-size: 1.3rem;
}

.sub-heading {
    font-weight: 800;
    font-size: 2.5rem;
}

.para {
    color: $para-colors;
}

@media only screen and (max-device-width: 1000px) {
    .sub-heading {
        font-size: 2rem;
    }
}