//theme colors
$navIconColor1 : #fc4868;
$navIconColor2 : #f96242;
$bg-home : #e5e6ed;
$nav-hover : black;
$nav-txtColor : #c2c3cc;
$nav-active : #e6266d;
$date-color : #909195;
$headings : #121212;
$para-colors : #323947;
$white : white;

